* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Images/star.jpg);
}

/* Header*/
.logo {
    position: relative;
    z-index: -1;
    width: 367;
    height: 163;
    margin-left: 40%;
    margin-top: 0px; 
}
.explosion {
    position: absolute;
    z-index: -10;
    margin-left: 14rem;
  
}

.title {
    display: flex;
    justify-content: left;
    padding: 2rem;
    margin-top: 50px;
    color: aliceblue;
    font-size: 48px;
}

/*main*/
.header-character,
.header-spells,
.header-books,
.header-potions {
    color: white;
    font-size: 36px;
    padding: 1%;
}

#characters {
    margin-left: 2rem;
    padding: 1%;
    background-image: url(./Images/Background/slytherin-green-star.jpg);
    color: white;
    height: 30rem;
    width: 95%;
    border: 0.5rem solid black;
    display: grid;
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: repeat(141, 20%);
    gap: 1rem 1rem;
    overflow: auto;
    align-items: stretch;
}

/* Name of the characters as a button*/
.btn-characters {
  width: 100%;
  height: 5.5rem;
  background: #ffffff40;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
}
.btn-characters:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.532), 0 17px 50px 0 rgba(0, 0, 0, 0.301);
  transition-duration: 0.4ms;
}

/* The Modal (background) */
.characters-container {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
/* Modal Content*/
.characters-content {
  position: relative;
  background-image: url(./Images/Background/slytherin-green-star.jpg);
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 8px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
 /*The Close Button*/
.characters-close{
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.characters-close:hover,
.characters-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*modal header*/
.characters-name {
  padding: 2px 16px;
  background-color: #ffffff40;
  color: white;
  height: 2rem;
  border-radius: 8px 8px 0px 0px;
}
.characters-description {
  padding: 2px 16px;
  color: white; 
}

#spells, #books {
    margin-left: 2rem;
    padding: 1%;
    color:white;
    width: 95%;
    border: 0.5rem solid black;
    display: grid;
    gap: 1rem 1rem;
    overflow: auto;
    align-items: stretch;

}

/*spells style*/
#spells {
    background-image: url(./Images/Background/ravenclaw-background-2200.jpg);
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: repeat(61, 20%);
    height: 30rem;
}

/* Name od the Spell as a button*/
.btn-spell-name, .btn-book-name {
    width: 100%;
    height: 5.5rem;
    background: #ffffff40;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
}
.btn-spell-name:hover, .btn-book-name:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.532), 0 17px 50px 0 rgba(0, 0, 0, 0.301);
    transition-duration: 0.4ms;
}

/* The Modal (background) */
.spell-modal, .book-modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  /* Modal Content*/
  .spell-content, .book-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: none;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .spell-content {
    background-image: url(./Images/Background/ravenclaw-background-2200.jpg);
  }
   /*The Close Button*/
  .spell-close, .book-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .spell-close:hover,
  .spell-close:focus,
  .book-close:hover,
  .book-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /*modal header*/
  .spell-name, .book-name {
    padding: 2px 16px;
    background-color: #ffffff40;
    color: white;
    height: 2rem;
    border-radius: 8px 8px 0px 0px;
  }
  .spell-type, 
  .spell-description, 
  .book-release-day, 
  .book-description{
    padding: 2px 16px;
    color: white; 
}


#potions {
    margin-left: 2rem;
    padding: 1%;
    background-image: url(./Images/Background/gryffindor-sky.jpg);
    color: white;
    height: 30rem;
    width: 95%;
    border: 0.5rem solid black;
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: repeat(30, 20%);
    overflow: auto;
    align-items: stretch;
}

  /* Name of the potion as a button*/
  .btn-potions {
    width: 100%;
    height: 5.5rem;
    background: #ffffff40;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
  }
  .btn-potions:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.532), 0 17px 50px 0 rgba(0, 0, 0, 0.301);
    transition-duration: 0.4ms;
  }

/* The Modal (background) */
.potions-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .potions-content {
    position: relative;
    background-image: url(./Images/Background/gryffindor-sky.jpg);
    margin: auto;
    padding: 0;
    border: none;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  /* The Close Button */
  .potions-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;

  }
  
  .potions-close:hover,
  .potions-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  /*modal header*/
  .potions-name {
    padding: 2px 16px;
    background-color: #ffffff40;
    color: white;
    height: 2rem;
    border-radius: 8px 8px 0px 0px;
  }
  
  .potions-description {
    padding: 2px 16px;
    color:white;
}
  

#books {
    background-image: url(./Images/Background/hufflepuff-background-2200.jpg);
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: repeat(2, 5.5rem);
    height: 18rem;
}

.book-content {
    background-image: url(./Images/Background/hufflepuff-background-2200.jpg);
}

footer {
    background-image: url(./Images/Background/footer.jpg);
    color: white;
    height: 6rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.credit,
.owners {
    margin-top: 4rem;
}

/*dropdown menu*/
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 0px 48px 24px 0px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    width: 300px
}


.dropdown {
    position: relative;
    display: in-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(8 31 28);
    min-width: 250px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    border: solid white;
    padding-left: 1rem;
    margin-right: 2.5rem;
}

.dropdown-content li {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.dropdown-content li:hover {
    background-color: rgba(255, 255, 255, 0.365);
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
  display:flex;
  justify-content:flex-start;
  flex-direction: column;
  color: white;
  font-size: 24px;
}
