* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Images/star.jpg);
}

/* Header*/
.logo {
    position: relative;
    z-index: -1;
    width: 30%;
    max-width: 367px;
   /*  height: 163; */
    margin-left: 40%;
    margin-top: 3rem; 
}

.title {
    display: flex;
    justify-content: left;
    padding: 2rem;
    margin-top: 50px;
    color: aliceblue;
    font-size: 48px;
}

/*main*/
.header-character,
.header-spells,
.header-books,
.header-potions {
    color: white;
    font-size: 36px;
    padding: 1%;
}

/*Sections*/
#characters, #spells, #potions, #books {
    margin-left: 2rem;
    padding: 1%;
    color: white;
    height: 30rem;
    width: 95%;
    border: 0.5rem solid black;
    display: grid;
    grid-template-columns: repeat(5, 19%);
    gap: 1rem 1rem;
    overflow: auto;
    align-items: stretch;
}
#characters{
  background-image: url(./Images/Background/slytherin-green-star.jpg);
}
#spells{
  background-image: url(./Images/Background/ravenclaw-background-2200.jpg);
}
#potions{
  background-image: url(./Images/Background/gryffindor-sky.jpg);
} 
#books{
  background-image: url(./Images/Background/hufflepuff-background-2200.jpg);
  height: 18rem;
}

/* Name of the characters,spells, books and potions as a button*/
.btn-characters, .btn-spell-name, .btn-book-name, .btn-potions {
  width: 100%;
  height: 5.5rem;
  background: #ffffff40;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
}

.btn-characters:hover, .btn-spell-name:hover, .btn-book-name:hover,   .btn-potions:hover   {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.532), 0 17px 50px 0 rgba(0, 0, 0, 0.301);
  transition-duration: 0.4ms;
}

/*scrollbar style*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(146, 133, 156, 0.148); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.916); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 129, 129); 
}

/* The Modal (background) */
.characters-container, .spell-modal, .book-modal, .potions-container{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content*/
.characters-content, .spell-content, .book-content, .potions-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 8px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.characters-content{
background-image: url(./Images/Background/slytherin-green-star.jpg);
}

.spell-content{
  background-image: url(./Images/Background/ravenclaw-background-2200.jpg);
  }
  .book-content{
    background-image: url(./Images/Background/hufflepuff-background-2200.jpg);
  }
  .potions-content{
    background-image: url(./Images/Background/gryffindor-sky.jpg);
  }

 /*The Close Button*/
.characters-close, .spell-close, .book-close, .potions-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.characters-close:hover,
.characters-close:focus,.spell-close:hover,
.spell-close:focus,
.book-close:hover,
.book-close:focus,.potions-close:hover,
.potions-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*modal header*/
.characters-name, .spell-name, .book-name, .potions-name  {
  padding: 2px 16px;
  background-color: #ffffff40;
  color: white;
  height: 2rem;
  border-radius: 8px 8px 0px 0px;
}

.characters-description, .spell-type, 
.spell-description, 
.book-release-day, 
.book-description, .potions-description  {
  padding: 2px 16px;
  color: white; 
}

/*dropdown menu*/
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 0px 48px 0px 0px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    width: 300px
}

.dropdown {
    position: relative;
    display: in-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(8 31 28);
    min-width: 250px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    border: solid white;
    padding-left: 1rem;
    margin-right: 2.5rem;
}

.dropdown-content li {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.dropdown-content li:hover, .clean-filter:hover {
    background-color: rgba(255, 255, 255, 0.365);
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul, .clean-filter {
  display:flex;
  justify-content:flex-start;
  flex-direction: column;
  color: white;
  font-size: 24px;
}

/*Footer*/
footer {
  background-image: url(./Images/Background/footer.jpg);
  color: white;
  height: 6rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.credit,
.owners {
  margin-top: 4rem;
}

.calculation {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-right: 2rem;
  font-size: 20px;
  padding: 0 0.5rem 0 0;
}
.sort-by {
color:white;
font-size: 18px;
margin: 0 2rem 0 2.5rem;
}
.sort-button,  .sort-button-reverse{
color: white;
font-size: 18px;
background: none;
border: none;
}
.sort-button:hover, .sort-button-reverse:hover {
  color: goldenrod;
}
/*Search Bar and button styles*/
.search{
  display: flex;
  justify-content: center;
  gap: 4px;
}
input.search-bar{
  border:rgba(0, 0, 0, 0.747);
  border-radius: 6px;
  background-color: #ffffff68;
  width: 50rem;
  color:white
  
}
input::placeholder {
  color: white;

}
.owl-btn, .owl{
border: none;
background-color: #fefefe2b;
border-radius: 8px;
width: 2rem;
height: 2rem;
}
.owl-btn:hover{
  box-shadow: 0 12px 16px 0 rgb(225, 155, 46), 0 17px 50px 0 rgb(225, 155, 46);
}
