*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./Images/star.jpg);
}
/* Header*/

img.logo {
    width:367;
    height: 163;
    margin-left: 40%;
}

.title {
    display: flex;
    justify-content: left;
    padding: 0px;
    color: aliceblue;
}

/*main*/
.header-character {
    margin-top: 1rem;
    color: white;
    font-size: 36px;
}
#characters{
    margin-left: 2rem;
    background-image: url(./Images/Background/slytherin-green-star.jpg);
    color: white;
    height:25rem;
    width: 95%;
    border: 1rem solid black;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(152,35%);
    overflow: scroll;
}

.header-potions {
    margin-top: 1rem;
    color: white;
    font-size: 36px;
}
#potions{
    margin-left: 2rem;
    background-image: url(./Images/Background/gryffindor-sky.jpg);
    color: white;
    height:25rem;
    width: 95%;
    border: 1rem solid black;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(30,35%);
    overflow: scroll;
}
footer{
    background-image: url(./Images/Background/footer.jpg);
    color: white;
    height: 6rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}
.credit, .owners{
    margin-top: 4rem;
}